<!DOCTYPE html>
<html lang="en">

<head>
  <title>Tarot Interpreter</title>
  <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Raleway">
</head>

<body>
  <nav id="start">
    <a href="#start" class="logo">tarot-interpreter</a>
     <a href="#wiefunktioniertes">Wie funktioniert es</a>
         <a href="#interpreter">Tarot Interpreter</a>
     <a href="#ueber">Über</a>
  </nav>
  
   <section name="wiefunktioniertes" id="wiefunktioniertes">
    <h1>tarot-interpreter</h1>
    <article>
      <ti-interpreter>
      <ti-card-selector></ti-card-selector>
      </ti-interpreter>
    </article>
  </section>
  <section name="interpreter" id="interpreter">

  </section>
 
  <section name="ueber" id="ueber">

  </section>
</body>

</html>