<!DOCTYPE html>
<html lang="en">

<head>
  {{> partials/head title="Tarot Interpreter"}}
</head>

<body>
  <div class="uk-section uk-section-primary">
    <div class="uk-container">
      <h1>Select your reading to start interpreting!</h1>
    </div>
  </div>
  
</body>

</html>