$dark: #171515;
$red: #F03040;
$redDark: #D12A38;
$blue: #8AB9BF;
$yellow: #DEBA62;
$white: #F2F2F2;

/**
These colors are taken from base colors used in the illustrations of the raider waite tarot deck.
General Background: $white
Use red, blue and yellow only on dark background!
Use dark and redDark only on white background

White Background => Dark Text Color (WCAG 2.1 bestanden)
White Background => RedDark Text Color (WCAG 2.1 bestanden)

Dark Background => White Text Color (WCAG 2.1 bestanden)
Dark Background => Red Text Color (WCAG 2.1 bestanden)
Dark Background => Blue Text Color (WCAG 2.1 bestanden)
Dark Background => Yellow Text Color (WCAG 2.1 bestanden)
*/